body {
  background-image: url('mattryantestbackground.png');
  background-position: center;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Fredoka One', cursive;
}
/* background image is static */
/* have image as div, and then div on top of divs -  */
#button {
  font-family: Times;
  background-color: rgb(100,100,100);
  margin: 7vw;
  padding: 3vw;
  font-style: bold;
  /* border-radius: 6px; */
}
#mainrect {
  background-color: #FFE800;
  padding: 7vh 12vw;
  margin: 10vh 20vw;
  border-radius: 2vw;

}
button:hover {
  border: #fff solid 1px;
}

button:active {
  /* color: #c3c6c9; */
  color: #1e81b0;
}

h1 {
  /* margin: 7px; */
  text-align: center;
  padding: 1vw;
  color: #CB463A;
}
p {
  color: #1e81b0;
  margin-top: 15px;
}
h2 {
  color: #CB463A;
  padding: 10px;
  size: 15px;
  /* position: center; */
}

img {
  width: 22vw;
  /* height: 10vh; */
  margin-left: 37vw;
  border: solid #CB463A 7px;
  border-radius: 4px;
}
#mainrsub {
  background-color: #1e81b0;;
  padding: 3vw;
  border-radius: 3px;
}
#mainquotebox {
  padding: 3px;
  margin: 3vw;
  /* float: right; */
  border-style: solid;
  border-radius: 4px;
  color: #CB463A;
  font-family: 'Fredoka One', cursive;
  background-color: #1e81b0;
  border-color: #CB463A;
}
h3 {
  opacity: opaper;
  z-index: 2;
}
video {
  width: 300px;
  height: 200px;
  /* z-index: -2; */
  /* margin: solid #CB463A 20vw; */
}
#mainrect2 {
  background-color: #FFE800;
  padding: 7vh 3vw;
  margin: 10vh 20vw;
  border-radius: 3vw;
}
ul {
  padding: -30px;
}
