

/* General Page Styling */
body {
  font-family: Times;
  background-image: url("assets/BGLeaves.JPG");
  background-position: fixed;
  background-repeat: no-repeat;
  /* background-size: cover; */
  size: 40px;
}
.psidebar {
  float: left;
  margin-top: -4vh;
  margin-left: -24vw;
  color: white;
  z-index: 3;
  opacity: 1 !important;
}
.psidebarbg {
  background-color: gray;
  color: gray;
  opacity: .4;
  margin-left: 2vw;
  margin-top: 15px;
  float: left;
  z-index: -1;
  max-width: 26vw;
  border-radius: 15px;
  padding-bottom: 55vh;
  /* margin-top: 6px; */
  /* border: solid black 4px; */
}
.bodybg {
  background-color: white;
  clear: right;
  margin-left: 27.5vw;
  margin-bottom: 10vh;
  padding: 4vw;
  border: double black 4px;
  border-radius: 15px;
  margin-right: 3vw;
}
img {
  max-width: 30%;
  max-height: 40%;
  margin: 10px;
  /* align-items: center; */
}
h1 {
  font-style: italic;
  /* margin-top: 2vh; */
  color: white;
  font-size: 5vw;
}
h2 {
  margin-left: 15px;
  font-size: 28px;
}
p {
  margin-left: 30px;
  text-indent: 40px;
  font-size: 18px;
}
a {
  font-size: 30px;
  color: white;
  /* margin-left: 18px; */
}
a:hover {
  color: red;
}
a:visited {
  color: blue;
}
a:clicked {
  color: green;
}
.bottomtext {
  align-items: right;
}
ul {
  margin-left: 1vw;

}
p {
  margin-left: 30px;
  text-indent: 40px;
}
.sidebar {
  float: left;
  background-color: gray;
  opacity: .4;
  border-radius: 15px;
  margin:3vw;
  z-index: -1;
}
.sbtitle {
  padding: 2vw;
}
.backbuttondiv {
  z-index: 1;
}

/* Main Page Styling */
.mainpsidebar {
  position: fixed;
  float: left;
  color: white;
  background-color: black;
  border-radius: 15px;
}
.mpbutton {
  height: 13vh;
  font-size: 60px;
}
.mainpagebuttons {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  float: left;
  z-index: 1;
  padding: 5vh;
  /* margin-top: 6vh; */
}
.aboutlist {
  padding: 2vw;
}
.mainbodybg {
  float: right;
  z-index: 1;
}
/* #mainpagebgvid {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
} */
button {
  margin: 2vw;
  padding: 1vw;
  width: 17vw;
  border-radius: 15px;
  background-color: white;
  font-size: 50px;
  font-family: Times;
  font-style: italic;
}
button:clicked {
  color: gray;
}
.maintitle {
  padding: 1vw;
  max-height: 60%;
  border-radius: 15px;
  background-color: black;
  /* z-index: 3; */
  margin-top: 35vh;
  float: left;
  margin-left: 42vw;
}
#mainBGVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
  margin-left: -99vw;
}


/* Page Specific Styling */
.copyrighttext {
  align-self: baseline;
  align-items: center;
  margin-left: 55vw;
  font-size: 10px;
  margin-bottom: 15px;
  color: white;
}
.contact {
  align-items: center;
  margin-left: 7vw;
  clear: right;
  padding: 5vw;
  background-color: gray;
  border-radius: 15px;
  justify-content: center;
}
.imgflexboxes {
  display: flex;
  flex-wrap: wrap;
  border: dashed black 3px;
  background-color: gray;
}
#mainportphoto{
  margin-left: 21vw;
  border: 3px solid black;
}
#PVVideo {
  justify-content: center;
  /* position: relative; */
  /* right: 0;
  bottom: 0; */
  min-width: 60%;
  min-height: 60%;
  max-width: 80%;
  max-height: 80%;
  z-index: -2;
  margin-left: 7vw;
  /* border: solid 5px black; */
}
#videolink {
  font-size: 12px;
  margin-left: 26vw;
  color: red;
}
.backbutton {
  float: left;
  font-size: 35px;
}
.menubarlist {
  padding: 3vw;
  margin-top: -7vh;
}
.contact {
  /* justify-content: center; */
  /* align-items: center; */
  /* margin-left: 7vw; */
  /* clear: right; */
  /* padding: 5vw; */
  border: black dashed 3px;
}
.abouttext {
  margin: 20px;
  margin-bottom: 50px;
}
#bottomconttext {
  margin-left: 8vw;
  margin-top: 3vh;
}
#videobackbutton {
  align-items:baseline;
  align-self: baseline;
  align-content: baseline;
  margin-left: 35px;
  margin-top: 35vh;
  float: left;
  font-size: 40px;
}
.videolist {
  padding: 1vw;
}
.vidlink {
  font-size: 20px;
  margin-left: 5vw;
  margin-top: -10vh;
}
.videop {
  margin-top: 4vh;
  font-size: 21px;
}
